.check-list {
  @include ul-style;

  background-color: $white;
}

.check-list__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 56px;
  margin-bottom: 24px;

  text-align: left;

  &:first-of-type {
    margin-top: 17px;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.check-list__label {
  min-height: 56px;
  padding-left: 80px;

  line-height: 56px;

  text-transform: none;
  cursor: pointer;
}

.check-list__input + .check-list__label::before,
.check-list__input:checked + .check-list__label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 56px;
  height: 56px;

  cursor: pointer;
}

.check-list__input + .check-list__label::before {
  background-color: $gray;
  border-radius: 7px;
}

.check-list__input:checked + .check-list__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 24px 16px;
  background-position: center;
}

/* :hover */

.check-list__input + .check-list__label:hover::before,
.check-list__input:checked + .check-list__label:hover::before {
  background-color: $dark-gray;
}

/* :active */

.check-list__input + .check-list__label:active::before,
.check-list__input:checked + .check-list__label:active::before {
  background-color: rgb(115, 115, 115);
  opacity: 0.3;
}

/* :focus */

.check-list__input:focus + .check-list__label {
  outline: 2px solid rgba(38, 136, 233, 0.5);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 95px;
    margin-bottom: 36px;
  }

  .check-list__item {
    min-width: 200px;
    margin: 0;
    margin-bottom: 32px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 32px;
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .check-list {
    padding: 0;
    margin-bottom: 66px;
  }

  .check-list__item {
    margin: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
