.features__list {
  @include ul-style;

  padding-bottom: 37px;

  background-color: $white;
}

.features__item {
  padding: 29px 20px 0 70px;

  background-repeat: no-repeat;

  &--house {
    background-image: url("../img/icon-house.svg");
    background-size: 39px 37px;
    background-position: 21px 26px;
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
    background-position: 25px 18px;
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
    background-position: 18px 24px;
  }
}

.features__heading {
  @include headline-fix;

  text-align: left;

  &--first {
    padding-top: 6px;
  }
}

.features__text {
  @include text-2;

  margin-top: 14px;

  text-align: left;
  color: $black-regular;
}

.features__br {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;

    padding-bottom: 0;
  }

  .features__item {
    width: 256px;
    min-height: 330px;
    padding: 159px 45px 27px;

    &--house {
      background-size: 75px 72px;
      background-position: center 60px;
    }

    &--food {
      background-size: 77px 68px;
      background-position: center 63px;
    }

    &--gift {
      background-size: 64px 75px;
      background-position: center 57px;
    }

    &--inverted {
      order: 1;
    }
  }

  .features__heading {
    padding-top: 0;

    font-size: 21px;
    text-align: center;
  }

  .features__text {
    width: 165px;
    margin: 21px auto 0;

    text-align: center;
  }

  .features__br {
    display: block;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .features__item {
    width: 400px;
  }

  .features__text {
    width: 300px;
  }
}
