.features__list {
  @include ul-style;

  padding-bottom: 37px;

  background-color: $white;
}

.features__item {
  padding: 0 20px;
}

.features__icon {
  float: left;

  width: 40px;
  height: 40px;
  margin-top: 26px;
  margin-right: 10px;

  background-color: $sky;

  &--gift {
    margin-top: 17px;
  }

  &--food {
    margin-top: 23px;
  }
}

.features__heading {
  @include headline-fix;

  padding-top: 35px;

  text-align: left;

  &--second,
  &--third {
    padding-top: 28px;
  }
}

.features__text {
  @include text-2;

  margin-top: 14px;
  margin-left: 50px;

  text-align: left;
  color: $black-regular;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;

    padding-bottom: 0;
  }

  .features__item {
    width: 256px;
    min-height: 330px;

    &--inverted {
      order: 1;
    }
  }

  .features__icon {
    float: none;

    width: 77px;
    height: 77px;
    margin: 60px auto 27px;
  }

  .features__heading {
    padding-top: 0;

    font-size: 21px;
    text-align: center;
  }

  .features__text {
    width: 165px;
    margin: 21px auto 0;

    text-align: center;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .features__item {
    width: 400px;
  }
}
