.inner-promo {
  @include temporarily;
  @include mobile-grid;

  padding-bottom: 10px;

  &--photo {
    padding-bottom: 22px;
  }
}

.inner-promo__bg {
  position: relative;

  min-height: 158px;
  margin-bottom: 38px;

  background-color: rgb(106, 98, 99);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.inner-promo__bg-text {
  min-height: 158px;

  background-image: url("../../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-position: center 52px;
  background-size: 230px auto;
}

.inner-promo__bg-decoration {
  position: absolute;
  bottom: 0;

  min-width: 320px;
  min-height: 26px;

  background-color: transparent;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 328px;
}

.inner-promo__heading {
  display: inline-block;
  vertical-align: middle;
  width: 270px;

  @include headline-fix;

  margin-bottom: 25px;
}

.inner-promo__text {
  display: inline-block;
  vertical-align: middle;
  width: 275px;

  @include text;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .inner-promo {
    width: 768px;
    padding-bottom: 71px;

    &--photo {
      padding-bottom: 66px;
    }
  }

  .inner-promo__bg {
    min-height: 290px;
    margin-bottom: 74px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  .inner-promo__bg-text {
    min-height: 290px;

    background-position: center 95px;
    background-size: 458px auto;
  }

  .inner-promo__bg-decoration {
    width: 100%;
    min-height: 57px;

    background-image: url("../../img/bg-intro-triangle-tablet.svg");
    background-size: 768px;
  }

  .inner-promo__heading {
    width: 100%;
    margin-bottom: 30px;

    font-size: 30px;
  }

  .inner-promo__text {
    width: 445px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .inner-promo {
    width: 1200px;
    padding-bottom: 56px;

    &--photo {
      padding-bottom: 68px;
    }
  }

  .inner-promo__bg {
    min-height: 301px;
    margin-bottom: 111px;

    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  .inner-promo__bg-decoration {
    background-image: url("../../img/bg-intro-triangle-desktop.svg");
    background-size: 1200px;
  }
}
