.menu {
  @include ul-style;

  background-color: $sky;

  @include temporarily;
}

.menu__link {
  display: block;
  padding: 8px 20px;

  line-height: 40px;
  color: $white;
}

@media (min-width: $tablet-width) {
  
}
