.nav {
  background-color: $white;
}

.nav__box-2 {
  position: relative;
  z-index: 5;

  display: flex;

  height: 56px;
}

.header__logo {
  position: absolute;

  display: block;
  width: 102px;
}

.header__logo-img {
  height: 83px;
}

.nav__toggle {
  width: 22px;
  height: 23px;

  background-color: $white;
}




