.nav {
  @include mobile-grid;

  background-color: $white;
}

.nav__box-2 {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: center;

  height: 56px;

  background-color: $white;
}

.nav__logo {
  position: absolute;

  display: block;
  width: 102px;
}

.nav__logo-img {
  height: 83px;
}

.nav--closed .nav__toggle::before,
.nav--opened .nav__toggle::after {
  content: "";

  position: absolute;
  right: 20px;

  width: 23px;
  height: 22px;

  border: none;

  cursor: pointer;
}

.nav--closed .nav__toggle::before {
  top: 17px;


  background-image: url("../img/icon-menu.svg");
}

.nav--opened .nav__toggle::after {
  top: -214px;

  background-image: url("../../img/icon-cross.svg");
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< js-menu >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width-only) {
  .nav--closed .menu__item {
    display: none;
  }

  .nav--nojs .menu__item {
    display: block;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .nav {
    width: 768px;
  }

  .nav__box-2 {
    position: absolute;
    top: -56px;

    width: inherit;
  }

  .nav__logo {
    top: 56px;
  }

  .nav__toggle {
    display: none;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .nav {
    width: 1200px;
  }
}
