.other-reasons {
  @include temporarily;
}

.other-reasons__list {
  @include ul-style;

  padding: 0 20px;

  background-color: rgb(238, 238, 238);
}

.other-reasons__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.102);
}

.other-reasons__heading {
  @include headline-fix;

  padding-top: 27px;
}

.other-reasons__text {
  @include text-2;

  margin-top: 9px;
  padding: 0 15px;

  color: $black-regular;

  &--second {
    margin-top: 15px;
    margin-bottom: 26px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .other-reasons__list {
    display: flex;

    padding: 0;
  }

  .other-reasons__item {
    width: 256px;
    min-height: 256px;

    border: none;
  }

  .other-reasons__heading {
    width: 130px;
    margin: 0 auto;
    padding-top: 45px;

    font-size: 21px;
  }

  .other-reasons__text {
    width: 158px;
    margin: 10px auto 0;
    padding: 0;

    &--second {
      margin-top: 21px;
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .other-reasons__item {
    width: 400px;
  }

  .other-reasons__text {
    width: 300px;

    &--fix {
      width: 270px;
    }
  }
}
