.presentation {
  @include mobile-grid;

  padding: 33px 0;

  background-color: $white;
}

.presentation__heading {
  @include headline-fix;

  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.presentation__text {
  @include text;

  width: 240px;
  margin: 0 auto;
  margin-bottom: 35px;

  line-height: 24px;
}

.presentation__box {
  position: relative;
  z-index: 1;
}

.presentation__scrollbar,
.presentation__controls {
  width: 280px;
  margin: 0 20px;
}

/* <<<<< presentation__scrollbar >>>>> */

.presentation__scrollbar {
  position: absolute;
  top: -45px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 45px;

  background-color: rgba(0, 0, 0, 0.6);
}

.presentation__range {
  width: 235px;
  height: 3px;

  background-color: rgba($white, 0.2);
}

.presentation__current {
  position: absolute;
  left: 58px;

  width: 9px;
  height: 9px;

  background-color: $white;
  border-radius: 50%;
}

/* <<<<< presentation__controls >>>>> */

.presentation__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 66px;
  padding: 0 23px 0 25px;

  background-color: rgb(245, 245, 245);
}

.presentation__btn {
  height: 20px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  fill: rgb(92, 104, 112);

  &:hover {
    fill: $black-regular;
  }

  &:active {
    fill: rgba($black-regular, 0.3);
  }

  &--replay {
    width: 16px;
  }

  &--subtitles {
    width: 32px;
    margin-left: auto;
    margin-right: 31px;
  }

  &--fullscreen {
    width: 20px;
  }
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .presentation {
    width: 768px;
    padding: 66px 60px 40px;
  }

  .presentation__heading {
    width: 400px;
    margin-bottom: 31px;

    font-size: 30px;
  }

  .presentation__text {
    width: 420px;
    margin-bottom: 73px;
  }

  .presentation__scrollbar {
    top: -93px;

    width: 648px;
    min-height: 93px;
    margin: 0;
  }

  .presentation__range {
    width: 389px;
    margin-left: -73px;
  }

  .presentation__current {
    left: 206px;
  }

  .presentation__controls {
    position: absolute;
    top: -93px;

    width: 648px;
    min-height: 93px;
    margin: 0;
    padding: 0 41px 0 35px;

    background-color: transparent;
  }

  .presentation__btn {
    z-index: 2;

    fill: $white;

    &:hover {
      fill: rgba($white, 0.6);
    }

    &:active {
      fill: rgba($white, 0.3);
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .presentation {
    width: 1200px;
    padding: 70px 200px 85px;
  }

  .presentation__text {
    margin-bottom: 71px;
  }

  .presentation__scrollbar,
  .presentation__controls {
    width: 800px;
  }

  .presentation__range {
    width: 540px;
  }
}
