.presentation {
  @include mobile-grid;

  padding: 33px 0;

  @include temporarily;
}

.presentation__heading {
  @include headline-fix;

  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.presentation__text {
  @include text;

  width: 240px;
  margin: 0 auto;
  margin-bottom: 35px;

  line-height: 24px;
}

.presentation__img {
  width: 320px;
  height: 201px;
  margin: 0 auto;
}

.presentation__box {
  position: relative;
  z-index: 1;
}

.presentation__scrollbar,
.presentation__controls {
  width: 280px;
  margin: 0 20px;
}

.presentation__scrollbar {
  position: absolute;
  top: -45px;
  z-index: 2;

  height: 45px;

  background-color: rgba(0, 0, 0, 0.6);
}

.presentation__controls {
  height: 66px;

  background-color: rgb(245, 245, 245);
}

.presentation__replay {
  width: 16px;
  height: 20px;
}

.presentation__subtitles {
  width: 32px;
  height: 20px;
}

.presentation__fullscreen {
  width: 20px;
  height: 20px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .presentation {
    width: 768px;
    padding: 66px 60px 40px;
  }

  .presentation__heading {
    width: 400px;
    margin-bottom: 31px;

    font-size: 30px;
  }

  .presentation__text {
    width: 420px;
    margin-bottom: 73px;
  }

  .presentation__img {
    height: 500px;
  }

  .presentation__scrollbar {
    top: -93px;

    width: 648px;
    min-height: 93px;
    margin: 0;
  }

  .presentation__controls {
    position: absolute;
    top: -93px;

    width: 648px;
    min-height: 93px;
    margin: 0;

    background-color: transparent;
  }

  .presentation__replay,
  .presentation__subtitles,
  .presentation__fullscreen {
    position: absolute;
    top: 36px;
    z-index: 2;

    background-color: $white;
  }

  .presentation__replay {
    left: 35px;
  }

  .presentation__subtitles {
    right: 124px;
  }

  .presentation__fullscreen {
    right: 41px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .presentation {
    width: 1200px;
    padding: 70px 200px 85px;
  }

  .presentation__text {
    margin-bottom: 71px;
  }

  .presentation__scrollbar,
  .presentation__controls {
    width: 800px;
  }
}
