.promo {
  @include mobile-grid;

  padding-bottom: 26px;

  background-color: $white;
}

.promo__bg {
  position: relative;

  min-height: 389px;
  margin-bottom: 40px;

  background-color: rgb(125, 146, 165);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__bg-text {
  min-height: 389px;

  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-position: center 90px;
  background-size: 280px auto;
}

.promo__bg-decoration {
  position: absolute;
  bottom: 0;

  min-width: 320px;
  min-height: 26px;

  background-color: transparent;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 328px;
}

.promo__heading {
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  margin-bottom: 27px;

  font: inherit;
}

.promo__text {
  display: inline-block;
  vertical-align: middle;
  width: 300px;

  @include text;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .promo {
    width: 768px;
    padding-bottom: 50px;
  }

  .promo__bg {
    min-height: 518px;
    margin-bottom: 50px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .promo__bg-text {
    min-height: 518px;

    background-position: center 77px;
    background-size: 460px auto;
  }

  .promo__bg-decoration {
    width: 100%;
    min-height: 57px;

    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 768px;
  }

  .promo__heading {
    width: 625px;
    margin-bottom: 27px;

    font-size: 21px;
  }

  .promo__text {
    width: 625px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .promo {
    width: 1200px;
  }

  .promo__bg {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .promo__bg-decoration {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-size: 1200px;
  }
}
