.radio-list {
  @include ul-style;

  background-color: $white;
}

.radio-list__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 56px;
  margin-bottom: 13px;

  text-align: left;

  &:first-of-type {
    margin-top: 23px;
  }

  &:last-of-type {
    margin-bottom: 27px;
  }
}

.radio-list__label {
  min-height: 56px;
  padding-left: 80px;

  line-height: 56px;

  text-transform: none;
  cursor: pointer;
}

.radio-list__input + .radio-list__label::before,
.radio-list__input:checked + .radio-list__label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50%;
  cursor: pointer;
}

.radio-list__input + .radio-list__label::before {
  width: 56px;
  height: 56px;

  background-color: $gray;
}

.radio-list__input:checked + .radio-list__label::after {
  top: 17px;
  left: 17px;

  width: 22px;
  height: 22px;

  background-color: $black;
}

/* :hover */

.radio-list__input + .radio-list__label:hover::before,
.radio-list__input:checked + .radio-list__label:hover::before {
  background-color: $dark-gray;
}

/* :active */

.radio-list__input + .radio-list__label:active::before,
.radio-list__input:checked + .radio-list__label:active::after {
  background-color: rgb(115, 115, 115);
  opacity: 0.3;
}

/* :focus */

.radio-list__input:focus + .radio-list__label {
  outline: 2px solid rgba(38, 136, 233, 0.5);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .radio-list__item {
    margin-bottom: 22px;

    &:first-of-type {
      margin-top: 59px;
    }
  }
}
